.background{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/sonic-fundo.png);
    background-size: cover;
    bottom: 0;
    animation: slideleft 50s infinite linear;
}

.background header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: fantasy;
    color: #ffd900;
    font-size: 25px;
}

.background .logo-title{
    margin: 40px 20px 0;
    font-size: 34px;
}

.background .text-score{
    margin: 0 20px;
    font-size: 22px;
}

header .btnStart{
    cursor: pointer;
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 20px;
    background-color: #1ba126;
    font-family: fantasy;
    font-size: 24px;
    text-transform: uppercase;
}

.game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: fantasy;
    color: #f81010;
    font-size: 50px;
}

.sonic{
    width: 120px;
    height: 120px;
    background-image: url(../images/sonic.gif);
    background-size: cover;
    position: absolute;
    bottom: 150px;
}

.eggman{
    width: 120px;
    height: 120px;
    background-image: url(../images/eggman.gif);
    background-size: cover;
    position: absolute;
    bottom: 150px;
}

@keyframes slideleft{
    from {
        background-position: 0;
    }
    
    to {
        background-position: 7000%;
    }
}