.rex{
    width: 100px;
    height: 100px;
    background: #606060;
    position: absolute;
    bottom: 0;
}

.cactus{
    width: 100px;
    height: 100px;
    background: #57f042;
    position: absolute;
    bottom: 0;
}