body{
    background: #facf43;
}

.game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: fantasy;
    color: #f81010;
    font-size: 50px;

}

.title-style{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: fantasy;
    color: #1ba126;
    font-size: 50px;
}

.rex{
    width: 60px;
    height: 60px;
   background-image: url(../images/dino.png);
    position: absolute;
    bottom: 0;
}

.cactus{
    width: 60px;
    height: 60px;
   background-image: url(../images/cactus.png);
    position: absolute;
    bottom: 0;
}

@keyframes slideright{
    from {
        background-position: 7000%;
    }
    
    to {
        background-position: 0;
    }
}

.background{
    position: absolute;
    width: 100%;
    height: 200px;
    background-image: url(../images/background.png);
    background-repeat: repeat-x;
    bottom: 0;
    animation: slideright 600s infinite linear;
}
.reset{
    cursor: pointer;
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 20px;
    background-color: #1ba126;
    font-family: fantasy;
    font-size: 24px;
    text-transform: uppercase;
    align-items: center;
}